---
---
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
* Local modifications Copyright 2017 Holly Becker
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

body {
    background: url('../images/background-omega.jpg') #8CD3D9 fixed;
}

header,
main,
footer {
    /* Set a single stacked column */
    box-sizing: border-box;
    width: 95%;
    margin: 1rem auto auto;
    padding: 1rem;

    @media (min-width: 750px) {
        width: 750px;
    }

    border: 1px solid $dark-grey;
    background: #fff;
    color: #000;
}


header h1 a {
    text-decoration: none;
}

header,
header a,
header a:visited,
header a:hover {
    color: #000;
}


header {
    display: flex;
    align-items: center;
}

hgroup {
    flex: 2;
}

nav {
    flex: 1;
    ul {
        list-style-type: none;
        padding: 0 1rem;
        margin: 0;

        li {
            text-align: right;
            font-variant: small-caps;
            font-weight: bold;

            a {
                text-decoration: none;
            }
        }
    }
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

main {
    padding: 2rem;
}

footer {
    margin-top: 1rem;
    font-size: 80%;
}

aside {
    float: right;
    border: 1px solid $dark-grey;
    margin: 1rem;
    padding: 1rem;
    background: $light-grey;
    max-width: 50%;

    @media (min-width: 750px) {
        max-width: 30%;
    }
}

.blog-meta {
    font-style: italic;
    margin: 0;
}