/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
* Local modifications Copyright 2017 Holly Becker
*/

/* Base files. */
@import "base/normalize";
@import "base/variables";
@import "base/functions";
@import "base/base-styles";
@import "base/utils";
@import "base/typography";

/* Modules */
@import "modules/grid";
@import "modules/buttons";
@import "modules/forms";
@import "modules/lists";
@import "modules/code";
@import "modules/tables";
@import "modules/spacing";
@import "modules/media-queries";

body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background: url('../images/background-omega.jpg') #8CD3D9;
}

header {
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto auto;
    padding: 1rem;
    @media (#{$bp-larger-than-tablet}) {
        max-width: 25%;
        padding: 2rem;
    }
    border: 1px solid $dark-grey;
    background: #fff;
    color: #000;
}

section {
    box-sizing: border-box;
    border-bottom: 1px solid $light-grey;
}

nav {
    box-sizing: border-box;
    margin: 1em auto;
    ul {
        list-style: none inside;
        padding: 0;
        text-align: center;
    }
}

main {
    box-sizing: border-box;
    width: 90%;
    margin: 1rem auto 1rem;
    padding: 1rem;
    @media (#{$bp-larger-than-tablet}) {
        max-width: 70%;
        padding: 2rem;
    }
    border: 1px solid $dark-grey;
    background: #fff;
    color: #000;
}

footer {
    box-sizing: border-box;
    width: 90%;
    padding-top: 1rem;
    font-size: 1rem;
}
