<header>
  <section id='header'>
    <h1>{{ site.title }}</h1>

    <p>Fantasy &amp; sci-fi fan, board &amp; video gamer, book lover, Japanese learner, birdwatcher, software developer, Pythonista, geek. She/her</p>
  </section>

  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}{% link index.html %}">About Me</a></li>
      <li><a href="{{ site.baseurl }}{% link talks.html %}">Talks</a></li>
      <li><a href="{{ site.baseurl }}{% link blog.html %}">Blog</a></li>
    </ul>
    <ul>
      <li><a href="{{ 'resume/resume.html' | relative_url }}">Resume</a></li>
      <li><a href='https://github.com/Hwesta'>GitHub</a></li>
      <li><a href='https://twitter.com/Hwesta'>Twitter</a></li>
      <li><a href='https://www.flickr.com/photos/132539605@N07/'>Flickr</a></li>
      <li><a href='https://boardgamegeek.com/user/Hwesta'>BoardGameGeek</a></li>
      <li><a href='http://ebird.org/ebird/profile/NzA0OTgw/'>eBird</a></li>
    </ul>
  </nav>
</header>